footer {
	margin-top: 139px;
	clear: both;
	.grey {
		padding: 240px 0 200px 0;
// 		padding: 390px 0 200px 0;
		background: #E6E6E5;
		p {
			position: relative;
			font-size: 84px;
			color: $primary-color;
			max-width: 500px;
			line-height: 90px;
		}
		a {
			float: right;
			color: $primary-color;
		}
	}
	.dark-grey {
		background: #535353;
		overflow: hidden;
		padding: 30px 0;
		.address {
			text-align: right;
			float: right;
			color: #fff;
			max-width: 200px;
			img {
				float: right;
				display: block;
				margin-bottom: 10px;
			}
			p {
				clear: both;
			}
			a {
				color: #fff;
				display: block;
				margin-top: 20px;
			}
			p,a {
				font-size: 14px;
			}
		}
	}
	.bottom-dark-grey {
		padding: 20px 0;
		background: #3C3C3C;
		text-align: right;
		a {
			color: #fff;
			text-decoration: none;
			margin-right: 30px;
			display: inline-block;
			font-size: 14px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media (max-width:767px) {
	footer {
		.grey {
			padding-bottom: 60px;
			p {
				font-size: 64px;
				line-height: 65px;
				padding: 0 10px;
				margin-bottom: 100px;
			}
		}
		.bottom-dark-grey {
			text-align: left;
			a {
				margin-right: 16px;
			    font-size: 12px;
			}
		}
	}
}