.hero {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    max-height: 560px;
    img {
	    visibility: hidden;
    }
    h1 {
		font-size: 90px;
		font-weight: 300;
		color: #fff;
		line-height: 73px;
		margin-bottom: 40px;
	}
	p {
		color: #fff;
		font-size: 18px;
	}
    .hero-text {
	    position: absolute;
	    top: 50%;
	    transform: translate(0%, -50%);
	    left: 50%;
		margin-left: -485px;
    }
    .icon-header {
	    margin-top: -80px;
	    z-index: 9;
	    margin-bottom: 110px;
	    img {
		    visibility: visible;
		    margin-bottom: 30px;
	    }
	    h2 {
		    font-size: 26px;
	    }
    }
    .white-box {
	    background: #fff;
	    height: 100px;
	    width: 50%;
	    margin-top: 0;
	    position: absolute;
	    bottom: 0;
    }
}