a {
	&.with-arrow {
		text-decoration: none;
		&:after {
		    content: "";
		    width: 27px;
		    height: 30px;
		    background: url(/images/arrow-sunrise.svg) no-repeat; 
		    background-size: 100%;
		    top: 17px;
		    right: 0;
		    position: relative;
		    display: inline-block;
		    /* float: right; */
		    margin-left: 25px;
		}
		&:hover {
			color: #000;
			&:after {
				background: url(/images/arrow-gunmetal.svg) no-repeat; 
				background-size: 100%;
			}
		}
	}
}