.quote-area {
	&.content-container {
		float: right;
	    margin: 0;
	    padding: 0;
	    width: 90%;
	    max-width: 100%;
	}
	.the-quote {
		background: $primary-color;
		padding: 30px 30px;
		margin-top: 0;
		margin-bottom: -200px;
		width: 100%;
		img {
			margin-bottom: 180px;
		}
		p {
			color: #fff;
			font-size: 46px;
			line-height: 54px;
			max-width: 700px;
		}
	}
}
