
@font-face {
  font-family: 'GTWalsheimLight';
  src: url('fonts/GTWalsheimLight.eot?#iefix') format('embedded-opentype'),  url('fonts/GTWalsheimLight.woff') format('woff'), url('fonts/GTWalsheimLight.ttf')  format('truetype'), url('fonts/GTWalsheimLight.svg#GTWalsheimLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesomeOld';
  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    	url('fonts/fontawesome-webfont.woff') format('woff'),
    	url('fonts/fontawesome-webfont.ttf')  format('truetype'),
    	url('fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fas {
	font-family: 'FontAwesomeOld';
}