.standard-page {
	.row {
		margin: 0 -30px;
	}
	section {
		display: inline-block;
		width: 100%;
		&:nth-of-type(even) {
			background: #E6E6E6;
			padding-top: 350px;
			padding-bottom: 350px;
		}
		&:nth-of-type(odd) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		&:first-of-type {
			padding-top: 110px;
			background: #fff;
			margin-bottom: 100px;
			padding-bottom: 0;
		}
	}
	.content {
		.full-width {
			width: 100%;
			img {
				margin-bottom: 20px;
			}
			h2 {
				max-width: 50%;
			}
		}
		img {
			max-width: 100%;
		}
		caption {
			width: 100%;
		    display: inline-block;
		    text-align: left;
		    font-size: 14px;
		    padding: 10px 0;
			color: #9B9B9B;
		}
		.content-container {
			h2 {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 25px;
			}
			p {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 15px;
			}
		}
		&.double {
			.content-container {
				&.flex {
					display: flex;
					justify-content: space-between;
				}
				div {
					width: 50%;
					display: inline-block;
					padding: 0 15px;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
	.side-area {
		&.content-container {
			float: left;
		    margin: 0;
		    padding: 0;
		    width: 90%;
		    max-width: 100%;
		    margin-top: -250px;
		    &.right {
				float: right;
				margin-top: 0;
				 margin-bottom: -240px;
			}
		}
		img {
			max-width: 100%;
		}
	}
}

@media (max-width: 767px) {
	.standard-page-content {
		footer {
			margin-top: 0px;
			.grey {
				padding-top: 40px;
			}
		}
	}
	.standard-page {
		section {
			background: #E6E6E6;
			&:first-of-type {
				padding-top: 0;
				margin-bottom: 40px;
				background: #fff;
			}
			&:nth-of-type(even) {
				padding-top: 250px;
				padding-bottom: 350px;
				&.content {
					&.double {
					}
				}
			}
			&:nth-of-type(odd) {
				padding-top: 0;
				margin-top: 0;
				padding-bottom: 0;
			}
		}
		.content {
			.full-width {
				h2 {
					max-width: 100%;
				}
			}
			img {
			    margin: 0 auto;
				display: block;
			}
			&.double {
				.full-width {
					&.content-container {
						padding: 0 15px;
					}
				}
				.content-container {
					padding: 0;
					&.flex {
						display: block;
					}
					img {
						margin-bottom: 40px;
					}
					caption {
						display: none;
					}
					div {
						width: 100%;
						display: inline-block;
						box-sizing: border-box;
						padding: 0;
						&:first-child {
							padding-left: 0;
							padding-right: 0; 
						}
						&.text {
							padding: 0 15px;
						}
					}
				}
			}
		}
		.side-area {
			&.content-container {
				width: 100%;
			}
		}
	}
}