.standard-page {
	.row {
		margin: 0 -30px;
	}
	section {
		display: inline-block;
		width: 100%;
		&:nth-of-type(even) {
			background: #E6E6E6;
			padding-top: 350px;
			padding-bottom: 350px;
		}
		&:nth-of-type(odd) {
			padding-top: 100px;
			padding-bottom: 100px;
		}
		&:first-of-type {
			padding-top: 0px;
			background: #fff;
			margin-bottom: 100px;
			padding-bottom: 0;
		}
	}
	.content {
		.full-width {
			width: 100%;
			img {
				margin-bottom: 20px;
			}
			h2 {
				max-width: 50%;
			}
		}
		img {
			max-width: 100%;
		}
		caption {
			width: 100%;
		    display: inline-block;
		    text-align: left;
		    font-size: 14px;
		    padding: 10px 0;
			color: #9B9B9B;
		}
		.content-container {
			h2 {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 25px;
			}
			p {
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 15px;
			}
		}
		&.double {
			.content-container {
				&.flex {
					display: flex;
					justify-content: space-between;
				}
				div {
					width: 50%;
					display: inline-block;
					padding: 0 15px;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
				}
			}
		}
	}
	.side-area {
		&.content-container {
			float: left;
		    margin: 0;
		    padding: 0;
		    width: 90%;
		    max-width: 100%;
		    margin-top: -250px;
		    &.right {
				float: right;
				margin-top: 0;
				 margin-bottom: -240px;
			}
		}
		img {
			max-width: 100%;
		}
	}
}