.iconography {
  width: 60px;
}
.standard-page {
  .row {
    margin: 0 -30px;
  }
  section {
    display: inline-block;
    width: 100%;
    &:nth-of-type(even) {
      background: #e6e6e6;
      padding-top: 350px;
      padding-bottom: 350px;
    }
    &:nth-of-type(odd) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    &:first-of-type {
      padding-top: 110px;
      background: #fff;
      margin-bottom: 100px;
      padding-bottom: 0;
    }
  }
  .content {
    .full-width {
      width: 100%;
      img {
        margin-bottom: 20px;
      }
      h2 {
        max-width: 50%;
      }
    }
    img {
      max-width: 100%;
    }
    .caption {
      width: 100%;
      display: inline-block;
      text-align: left;
      font-size: 14px;
      padding: 10px 0;
      color: #9b9b9b;
    }
    .content-container {
      blockquote p {
        font-style: italic;
        font-size: 16px;
        margin-bottom: 27px;
      }
      h1 {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 27px;
      }
      h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 19px;
        margin-top: 25px;
      }
      h3 {
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-weight: bold;
      }
      b {
        font-weight: bold;
      }
      p {
        font-size: 16px;
      }
      em {
        line-height: 5px;
      }
      strong {
        line-height: 15px;
        margin-bottom: 5px;
      }
      li {
        font-size: 16px;
        line-height: 20px;
        margin-left: 20px;
      }
      ul li {
        list-style-type: disc;
      }
      ol li {
        list-style-type: decimal;
      }
    }
    &.double {
      .content-container {
        &.flex {
          display: flex;
          justify-content: space-between;
        }
        div {
          width: 50%;
          display: inline-block;
          padding: 0 15px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
  .side-area {
    &.content-container {
      float: left;
      margin: 0;
      padding: 0;
      width: 90%;
      max-width: 100%;
      margin-top: -250px;
      &.right {
        float: right;
        margin-top: 0;
        margin-bottom: -240px;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .standard-page-content {
    footer {
      margin-top: 0px;
      .grey {
        padding-top: 40px;
      }
    }
  }
  .standard-page {
    section {
      background: #e6e6e6;
      &:first-of-type {
        padding-top: 0;
        margin-bottom: 40px;
        background: #fff;
      }
      &:nth-of-type(even) {
        padding-top: 250px;
        padding-bottom: 350px;
        &.content {
          &.double {
          }
        }
      }
      &:nth-of-type(odd) {
        padding-top: 0;
        margin-top: 0;
        padding-bottom: 0;
      }
    }
    .content {
      .full-width {
        h2 {
          max-width: 100%;
        }
      }
      img {
        margin: 0 auto;
        display: block;
      }
      &.double {
        .full-width {
          &.content-container {
            padding: 0 15px;
            box-sizing: border-box;
          }
        }
        .content-container {
          padding: 0;
          &.flex {
            display: block;
          }
          img {
            margin-bottom: 40px;
          }
          .caption {
            display: none;
          }
          div {
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            padding: 0;
            &:first-child {
              padding-left: 0;
              padding-right: 0;
            }
            &.text {
              padding: 0 15px;
            }
          }
        }
      }
    }
    .side-area {
      &.content-container {
        width: 100%;
      }
    }
  }
}
